# Project docs / notes
notes.md
ideas.py
notebooks
notebooks/*

*/images/
*/images/*

# Render outputs & previews
*.png
*.jpg
*.jpeg
*.ppm
*.pkl
*.pdf
*.hdr
*.gif
*.mp4
preview.*

# Generated assets / animations
/images/
anim_light/
skyboxes/
frames/
output/
renders/
notebooks/images/
notebooks/pickle_data/
notebooks/animation_frames/
notebooks/video/
notebooks/*.png
notebooks/*.jpg
notebooks/*.ppm
notebooks/*.mp4
notebooks/animations/
notebooks/skybox/my_skyboxes/
notebooks/skybox/my_skyboxes/*
notebooks/benchmark_data/
notebooks/benchmark_data/*

!examples/demo_scene.png

stls/

# Logs / profiling
*.log
*.out
*.err

# Python cache / build
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE configs
.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

# files
stls/legacy.ipynb
research.md

eduray.egg-info
models
dist